body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

.intro {
    background-size: cover;
    width: 95vw;
    height: 80vh;
    padding: 100px;
    left: 0;
    right: 0;
    background-color: rgb(28, 2, 58);
    color: white;
    border-radius: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
    vertical-align: center;
}


.h1 {
    font-size: 35px;
    font-weight: 300;
}

.glow {
    color: rgb(110, 4, 231);
    text-shadow: 0 5px 10px rgb(110, 4, 231);
}

.img {
    background-image: url("#");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300vw;
    width: 300vw;
    z-index: 2;
    border-radius: 30vw;
    margin: 0;
    margin-left: 100vw;
    border: none;
}

.intro-content {
    font-size: 35vw;
    font-weight: 300;
    color: black;
}

.button {
    border-radius: 30vw;
    border: none;
    height: 50vw;
    color: white;
    background-color: rgb(110, 4, 231);
    transform: scale(1);
    transition-duration: 0.5s;
}

.button:hover {
    color: rgb(110, 4, 231);
    background-color: white;
    transform: scale(1.05);
    transition-duration: 0.5s;
    border: 2px solid rgb(110, 4, 231);
    box-shadow: 0 5px 10px rgb(110, 4, 231);
    cursor: pointer;
}

.main {
    align-items: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
    width: 90vw;
    height: auto;
    color: black;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
    box-sizing: border-box;
}

@keyframes appear {
    from {
        opacity: 0.5;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }

}

.footer {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 15%;
    bottom: 0vh;
    top: 70vh;
    left: 0vw;
    right: 0vw;
    height: 30vh;
    width: 100vw;
    background-color: rgb(28, 2, 58);
    margin: 0 auto;
    border-radius: 30px 30px 0 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

p {
    font-size: 17px;
    font-weight: 6px;
}

@media (min-width: 780px) {
    p {
        font-size: 23px;
        font-weight: 10px;
    }
}

.profile-pic {
    width: 25vw;
    height: 55vh;
    border-radius: 30px;
    transition-duration: 1s;
}

.profile-pic:hover {
    box-shadow: 0 5px 10px rgb(110, 4, 231);
    transition-duration: 1s;
}

.socials {
    height: 5vh;
    width: 5vw;
}

svg {
    fill: white;
    height: 5vh;
    width: 5vw;
    transition-duration: 0.5s;
    transform: scale(0.8);
}

svg:hover {
    fill: rgb(110, 4, 231);
    transition-duration: 0.5s;
}

.project-card {
    display: flex;
    gap: 20vw;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.project-img {
    width: 200vw;
    height: auto;
    object-fit: cover;
}


@media (max-width: 600px) {
    .project-card {
        flex-direction: column;
    }

    .project-img {
        width: 100%;
    }
}

.typing-text {
    font-size: clamp(1em, 2.5vw, 1.3em);
    min-height: 1.2em;
}

.globe-gif {
    float: right;
    width: 25vw;
    height: 25vw;
}

@media (min-width: 600px) {
    .navbar {
        top: 1vh;
        float: center;
        align-items: center;
        text-align: center;
        display: flex;
        z-index: 3;
        width: 70vw;
        height: 7vh;
        background-color: white;
        position: relative;
        opacity: 1;
        justify-content: center;
        border-radius: 0 0 30px 30px;
        box-shadow: 0 5px 10px rgb(110, 4, 231);
        left: 15vw;
        right: 15vw;
        scroll-behavior: smooth;
        transform: scale(1);
        transition-duration: 0.5s;
    }

    .navbar:hover {
        box-shadow: 0 5px 10px;
        transition-duration: 0.5s;
        transform: scale(1.01);
    }

    .navbar>table {
        float: center;
    }

    header {
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-color: rgb(28, 2, 58);
        width: 95vw;
        height: 15vh;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 0 0 30px 30px;
    }

    td>a {
        text-decoration: none;
        color: black;
        padding: 30px;
        transform: scaleX(1);
        transition-duration: 0.5s;
    }

    td>a:hover {
        transform: scaleX(1.01);
        transition-duration: 0.5s;
        color: rgb(110, 4, 231);
        text-shadow: 5px 5px 10px rgb(110, 4, 231);
    }

}

.project-card>video {
    width: 100%;
    height: 35vw;
}

.card {
    width: 240px;
    height: 250px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(110, 4, 231);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card:hover {
    border-color: rgb(110, 4, 231);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.skills {
    background-size: cover;
    width: 95vw;
    height: 83vh;
    background-color: rgb(28, 2, 58);
    color: white;
    border-radius: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.skills-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}